HELP.md
!**/src/main/**/target/
!**/src/test/**/target/

## Maven:
!.mvn/wrapper/maven-wrapper.jar
/.mvn/
/mvnw
/mvnw.bat
mvnw.cmd
/log/
*.log*
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Java ###
# Compiled class file
*.class


# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

