<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="sockjs-0.3.4.min.js"></script>
    <script src="stomp.min.js"></script>
</head>

<body>
<p th:inline="text">
    Client Name : <b id="userName">[[${#httpServletRequest.remoteUser}]]</b>
    (<a href="/logout">logout</a>)
</p>
<p>
    Click the button to watch VOD.
    <br/>
    <strong>If user exists,</strong> you will be notified via web socket.
</p>
<input id="send" type="button" value="Click me"/>

<script>

    /**
     * Send an action to the server.
     */

    function connectVOD(event) {
        event.preventDefault();

        let watch_info = {};
        watch_info.pcid = $("#userName").text();
        watch_info.episode_id = "episode_id";
        watch_info.stb_id = "stb_id";
        watch_info.play_start = "2020-08-18'T'15:41:00";
        watch_info.mac_address = "mac_address";
        watch_info.running = true;

        $.ajax({
            url: "/send",
            type: "POST",
            contentType: 'application/json',
            data: JSON.stringify(watch_info),
            dataType: JSON
        });

        return;
    }

    /*
     * Open the web socket and subscribe /notify channel to limit simultaneous viewing
     */
    function connect() {

        // Init the SockJS object
        let socket = new SockJS('/ws');
        let stompClient = Stomp.over(socket);

        // Subscribe the '/notify' channel
        stompClient.connect({}, function (frame) {
            stompClient.subscribe('/user/queue/notify', function (notification) {

                // Call the notify function when receive a notification
                let response = JSON.parse(notification.body);
                notify(response);
            });
            stompClient.subscribe('/user/queue/connect', function (notification) {

                //Call the redirect function when receive a success response
                window.location = "/notifications";
            })
        });

        return;
    } // function connect

    function notify(response) {
        let result = confirm(response.exist_user + " is watching VOD now. Are you sure you want to disconnect?");
        if (result) {
            forceConnect(response);
            //and redirect to VOD watching page
            window.location = "/notifications";
        }
        return;
    }

    /*
    *   Force connection
    */
    function forceConnect(response) {

        let newUser = response.new_user;

        //declare watch info in client
        let watch_info = {};
        watch_info.pcid = newUser;
        watch_info.episode_id = "episode_id";
        watch_info.stb_id = "stb_id";
        watch_info.play_start = "2020-08-18'T'15:41:00";
        watch_info.mac_address = "mac_address";

        response.watch_info = watch_info;

        $.ajax({
            url: "/force",
            type: "POST",
            contentType: 'application/json',
            data: JSON.stringify(response),
            dataType: JSON
        });

    }//function force connect


    /**
     * Init operations.
     */
    $(document).ready(function () {
        connect();
        $("#send").on("click", connectVOD);
    });

</script>

<br/>
<hr/>
</body>

</html>
